<a href="/songs">Dashboard</a>
<form action='/users' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
</form>

<h1><%= @user['first_name']%>'s Playlist</h1>

<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Times Added</th>
  </tr>
  <tbody>
    <% @adds.each do |add| %>
    <tr>
      <td style="text-align:center"><%= add.song.artist %></td>
      <td style="text-align:center"><%= add.song.title %></td>
      <td style="text-align:center"><%= add.song.adds.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
