<form action='/users' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
</form>

<h1>Hello, <%= @user.first_name %>!</h1>

<h3>All the songs in our hub: </h3>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>No. of Times Song Has Been Added</th>
    <th>Add to Playlist</th>
  </tr>
  <tbody>
    <% @songs.each do |song| %>
        <tr>
          <td style="text-align:center"><%= song.artist %></td>
          <td style="text-align:center"><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
          <td style="text-align:center"><%= song.adds.count %></td>
          <td style="text-align:center">
            <form action='/add' method='post'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name="song_id" value="<%= song.id %>">
                <input type="hidden" name="add_count" value="1">
                <input type='submit' value='Add'>
            </form>
          </td>
        </tr>
    <%end%>
</tbody>
</table>

<% if flash[:error] %>
<p><%= flash[:error] %></p>
<% end %>
<% if flash[:create_error] %>
  <p><%= flash[:create_error] %></p>
<% end %>

<h3>Add a Song: </h3>
<form action="/songs/create" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="user_id" value="<%= session[:user_id]%>">
  Title: <input type="text" name="title">
  Artist: <input type="text" name="artist">
  <input type="submit" name="event" value="Add Song">
</form>
